.display-flex{
    display: flex;
}
.navbar {
    justify-content: space-between;
    align-items: center;
}
.brand {
    font-weight: 700;
    font-size: 3rem;
}
.nav-link {
    font-weight: 500;
    text-decoration: none;
}
.nav-item {
    list-style: none;
    margin-right: 30px;
}
.navbar,
.banner {
    max-width: 1440px;
    margin: 0 auto;
}
.banner-content {
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

.banner-title {
    font-weight: 700;
    font-size: 4rem;
}

.banner-image {
    width: 100%;
}
/* team and feature related styles */
.teams {
    align-items: center;
}
.team-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.our-features {
    margin-left: 130px;
    max-width: 530px;
}
#quick-list {
    font-weight: 500;
}