.display-flex{
    display: flex;
}
.navbar {
    justify-content: space-between;
    align-items: center;
}
.brand {
    font-weight: 700;
    font-size: 3rem;
}
.nav-link {
    font-weight: 500;
    text-decoration: none;
}
.nav-item {
    list-style: none;
    margin-right: 30px;
}
.navbar,
.banner {
    max-width: 1440px;
    margin: 0 auto;
}
.banner-content {
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

.banner-title {
    font-weight: 700;
    font-size: 4rem;
}

.banner-image {
    width: 100%;
}
/* team and feature related styles */
.teams {
    align-items: center;
}
.team-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.our-features {
    margin-left: 130px;
    max-width: 530px;
}
#quick-list {
    font-weight: 500;
}
/* features section related styles */

.features {
    gap: 140px;
}
#feature-section-title {
    border-left: 5px solid #FF900E;
    padding-left: 20px;
}
.feature-card {
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 40px 50px 0 rgba(0, 0, 0, 0.06);
    margin-bottom: 20px;
}
.feature-card .feature-title {
    font-weight: 600;
    font-size: 1.25rem;
    margin-top: 0px;
    margin-bottom: 0px;
}
#experience-badge {
    padding: 45px 42px;
    font-size: 1.5rem;
    font-weight: 500;
    margin-left: -100px;
    margin-top: -100px;
}
#experience-year {
    font-size: 4rem;
    font-weight: 700;
}
.featured-architect img {
    width: 100%;
}
/* some facts related styles */
.facts-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.fact-card {
    border: 1px solid #FF900E;
    width: 240px;
    height: 240px;
    border-radius: 8px;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.fact-number {
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 10px;
}
.fact-name {
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 10px;
}
.fact-description {
    max-width: 540px;
}